
.hidden {
	display: none !important;
}
.float-top-right {
	float: right;
}
fieldset legend span {
	font-weight: bold;
	text-shadow: none !important;
}


fieldset:disabled {
	background: #ded;
	border: 1px solid green;
}
fieldset:disabled legend {
	border: 1px solid green;
	background: #8a8;
}

.button-reset {
	position: absolute;
	right: 1em;
	z-index: 5;
	margin-top: 1em;
}

.switcher-switch,
.switcher-bag,
.form-item {
	display: inline-block;
	vertical-align: top;
}
.switcher-switch {
	vertical-align: top;
}
.switcher-switch label {
	float: left;
	clear: right;
}
.switcher-switch input {
	margin-top: 2em;
	margin-left: -1.5em;
	margin-right: 1.5em;
}
.switcher-bag select {
	min-width: 4em;
}